<h2>Каталог</h2>
<div class="catalogContainer">
    {% for item in catalog %}
        <div class="catalogItem">
            <h3><a href="/product/card/?id={{ item.id }}">{{ item.name }}</a></h3>
            <img class="catalogImage" src="/images/{{ item.image }}" alt="image">
            <p>price: {{ item.price }}</p>
            <button class="buy" data-id="{{ item.id }}">Купить</button>
        </div>
    {% endfor %}
</div>
<a class="catalogMore" href="/product/catalog/?page={{ page }}">Еще</a>


<script>
    let buttons = document.querySelectorAll('.buy');
    buttons.forEach((elem) => {
        elem.addEventListener('click', () => {
            let id = elem.getAttribute('data-id');
            let price = 1; //надо придумать где взять цену
            (
                async () => {
                    const response = await fetch('/basket/add/?id=' + id + '&price=' + price);
                    const answer = await response.json();
                    document.getElementById('count').innerText = answer.count;

                    //для удаления
                    //document.getElementById(id).remove();
                    // у дива товара должен быть id с номером
                }
            )();
        })
    })

</script>