<h2>Товар</h2>

<div class="orderBlock">
    <p>id: {{ order.id }}</p>
    <p>Номер: {{ order.name }}</p>
    <p>Телефон: {{ order.phone }}</p>
    <p>Клиент: {{ order.user_id}} </p>
    <p>Статус: {{ order.status }}</p>
    <p>Сумма: {{ order.sum }}</p>
</div>