<h2>Заказы</h2>
<div class="ordersContainer">
    {% for item in orders %}
        <div class="ordersItem">
            <p>id: {{ item.id }}</p>
            <p>Номер: {{ item.name }}</p>
            <p>Телефон: {{ item.phone }}</p>
            <p>Клиент: {{ item.user_id }}</p>
            <p>Статус: {{ item.status }}</p>
            <p>Сумма: {{ item.sum }}</p>
            <p><a href="/orders/order/?id={{ item.id }}">Посмотреть</a></p>
        </div>
    {% endfor %}
</div>